@import '../index';

.balance {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $soft-red;
	color: $very-pale-orange;
	padding: 1rem 2rem;
	border-radius: 1rem;
	margin-block: 2rem;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&--title {
			font-size: 1.4rem;
			font-weight: 400;
			margin-bottom: 1rem;
		}

		&--number {
			font-size: 2.5rem;
			font-weight: 700;
		}
	}

	&__logo {
		height: 4rem;
		aspect-ratio: 1/1;
	}
}
