@import '../index.scss';

.charts {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	padding: 2rem;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: 2px 2px 0.5rem rgb(200, 170, 95);

	&__expense {
		width: 3rem;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&--amount {
			background-color: $soft-red;
			margin-bottom: 2rem;
		}
	}
}
